@keyframes Anim-SlideInTop {
  from { top: -500px; }
  to { }
}

@keyframes Anim-SlideInBottom {
  from { bottom: -500px; }
  to { }
}

@keyframes Anim-SlideInLeft {
  from { left: -500px; }
  to { }
}

@keyframes Anim-SlideInRight {
  from { right: -500px; }
  to { }
}

.Anim-SlideInTop {
  animation-name: Anim-SlideInTop;
  animation-duration: 2.5s;
}

.Anim-SlideInBottom {
  animation-name: Anim-SlideInBottom;
  animation-duration: 2.5s;
}

.Anim-SlideInLeft {
  animation-name: Anim-SlideInLeft;
  animation-duration: 2.5s;
}

.Anim-SlideInRight {
  animation-name: Anim-SlideInRight;
  animation-duration: 2.5s;
}

@keyframes Anim-FadeIn {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}

@keyframes Anim-FadeInFast {
  0% { opacity: 0.0; }
  90% { opacity: 0.0; }
  95% { opacity: 0.25 }
  100% { opacity: 1.0; }
}

.Anim-FadeIn {
  animation-name: Anim-FadeIn;
  animation-duration: 3.0s;
}

.Loading-Spinner {
  background-size: 35px;
  margin-left: -2px;
  margin-top: -5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  animation: rotating 0.25s linear infinite;
  animation-direction: reverse;
  background-image: url(assets/sync_white_24.svg);
  background-position: 0px;
  transition: all 0.5s
}

@keyframes Anim-Highlight {
  0% { background-color: #fff; }
  25% { background-color: #ccc; }
  50% { background-color: #eee; }
  100% { }
}
