$color-highlight: #3AE2E2;
$color-bg-dark: #4D4D4D;
$color-bg-light: #F2F2F2;
$color-bg-extra-light: white;
$color-text-dark: $color-bg-dark;

$font-size-header: 14px;
$font-size-regular: 14px;
$font-size-small: 12px;
