$color-highlight: #3AE2E2;
$color-bg-dark: #4D4D4D;
$color-bg-light: #F2F2F2;
$color-bg-extra-light: white;
$color-text-dark: $color-bg-dark;

$font-size-header: 14px;
$font-size-regular: 14px;
$font-size-small: 12px;
$font-family-main: Hind, Arial, Helvetica, Helvetica Neue;

$padding-small: 12px;
$padding-medium: 22px;
$padding-large: 30px;
$padding-extra-large: 30px;

@mixin shadow {
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1)
}

@mixin defaultCursor {
  cursor: default !important;
}

ui-button,
ui-tabs-handle {
  @include defaultCursor;
}


ui-button {
  background-color: $color-highlight !important;
  color: black !important;
  font-size: $font-size-small !important;
}

ui-input input {
  background-color: $color-bg-light !important;
  border: 2px solid $color-highlight !important;
  color: black !important;
  font-size: $font-size-regular;
}
