$color-highlight: #3AE2E2;
$color-bg-dark: #4D4D4D;
$color-bg-light: #F2F2F2;
$color-bg-extra-light: white;
$color-text-dark: $color-bg-dark;

$font-size-header: 14px;
$font-size-regular: 14px;
$font-size-small: 12px;
$font-family-main: Hind, Arial, Helvetica, Helvetica Neue;

$padding-small: 12px;
$padding-medium: 22px;
$padding-large: 30px;
$padding-extra-large: 30px;

@mixin shadow {
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1)
}

@mixin defaultCursor {
  cursor: default !important;
}

ui-button,
ui-tabs-handle {
  @include defaultCursor;
}


ui-button {
  background-color: $color-highlight !important;
  color: black !important;
  font-size: $font-size-small !important;
}

ui-input input {
  background-color: $color-bg-light !important;
  border: 2px solid $color-highlight !important;
  color: black !important;
  font-size: $font-size-regular;
}

ui-modal-backdrop {
  background: rgba(224, 224, 224, 0.65) !important;
}

ui-modal-header,
ui-modal-footer {
  background-color: $color-bg-dark;
  color: $color-highlight;
  font-family: $font-family-main;
}

ui-modal-header {
  padding-left:   $padding-large !important;
  padding-right:  $padding-large !important;
  padding-top:    17px !important;
  padding-bottom: 17px !important;
}

ui-modal-footer {
  margin: auto;
  height: 26px;
  padding-left:   $padding-large !important;
  padding-right:  $padding-large !important;
  padding-top:    $padding-small !important;
  padding-bottom: $padding-small !important;
}

ui-modal-title {
  font-size: $font-size-header;
}

ui-modal-content {
  background-color: $color-bg-light !important;
  padding: $padding-extra-large $padding-large $padding-large $padding-large !important;
}

ui-tabs-content {
  min-width: 600px;
  max-width: 600px;
  height: 450px;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 15px;
  background-color: $color-bg-light !important;
  border: 0px !important;
  padding: 0px 0px !important;
  margin-top: 20px;
}

ui-tabs-handle[selected] {
  background-color: $color-bg-light;
  border-bottom: 3px solid $color-highlight !important;
  font-size: $font-size-header;
}

ui-tabs-handle {
  border: 0px !important;
  border-bottom: 1px solid $color-bg-dark !important;
  background-color: $color-bg-light !important;
  padding: 0px 10px 5px 10px !important;
  margin: 0px auto 0px 0px;

  span {
    font-size: $font-size-header !important;
    font-weight: bold;
    color: black;
  }
}

ui-tabs-handles {
  border-bottom: 1px solid $color-bg-dark !important;
  background-color: $color-bg-light !important;
  margin-bottom: 5px !important
}
