@import "Common.scss";

button,
ui-button,
ui-tabs-handle {
  @include defaultCursor;
}

button,
ui-button {
  background-color: $color-highlight !important;
  color: black !important;
  font-size: $font-size-small !important;
}

input,
ui-input input {
  background-color: $color-bg-light !important;
  border: 2px solid $color-highlight !important;
  color: black !important;
  font-size: $font-size-regular;
}

ui-modal-backdrop {
  background: rgba(224, 224, 224, 0.65) !important;
}

ui-modal-wrapper {
  border-radius: $border-radius-modal !important;
}

ui-modal-header {
  border-radius: $border-radius-modal $border-radius-modal 0px 0px !important;
}

ui-modal-footer {
  border-radius: 0px 0px $border-radius-modal $border-radius-modal !important;
}

ui-modal-header,
ui-modal-footer {
  background-color: $color-bg-dark;
  color: $color-highlight;
  font-family: $font-family-main;
}

ui-modal-header {
  padding-left:   $padding-large !important;
  padding-right:  $padding-large !important;
  padding-top:    17px !important;
  padding-bottom: 17px !important;
}

ui-modal-footer {
  margin: auto;
  height: 26px;
  padding-left:   $padding-large !important;
  padding-right:  $padding-large !important;
  padding-top:    $padding-small !important;
  padding-bottom: $padding-small !important;
}

ui-modal-title {
  font-size: $font-size-header;
}

ui-modal-content {
  background-color: $color-bg-light !important;
  padding: $padding-extra-large $padding-large $padding-large $padding-large !important;
}

ui-tabs-content {
  min-width: 600px;
  max-width: 600px;
  height: 450px;
  overflow-y: auto;
  overflow-x: auto;
  font-size: $font-size-regular;
  background-color: $color-bg-light !important;
  border: 0px !important;
  padding: 0px 0px !important;
  margin-top: 20px;
}

ui-tabs-handle[selected] {
  background-color: $color-bg-light;
  border-bottom: 3px solid $color-highlight !important;
  font-size: $font-size-header;
}

ui-tabs-handle {
  border: 0px !important;
  border-bottom: 1px solid $color-bg-dark !important;
  background-color: $color-bg-light !important;
  padding: 0px 0px 5px 0px !important;
  margin: 0px $padding-large 0px 0px !important;
  text-transform: uppercase;
  span {
    font-size: $font-size-header !important;
    font-weight: bold;
    color: black;
  }

  :hover {
    border-bottom: 3px solid $color-highlight !important;
    padding: 0px 0px 5px 0px !important;
    transition: all 0.5s;
  }
}

ui-tabs-handles {
  border-bottom: 1px solid $color-bg-dark !important;
  background-color: $color-bg-light !important;
  margin-bottom: 5px !important
}

ui-checkbox {
  @include defaultCursor;
  width:  20px !important;
  height: 20px !important;
  display: inline-flex !important;

  svg {
    width:  10px !important;
    height: 10px !important;
  }
}
