@import "Common.scss";

.LoginDialog {
  .ErrorMsg {
    margin: $padding-small;
    display: block;
    color: darkred;
  }

  .Buttons {
    button {
      display: block;
      margin-bottom: $padding-small;
    }
  }
}
