@import "Common.scss";

$height-mainscreen-header: 70px;
$width-mainscreen-logo: 220px;

body {
  position: relative;
  color: #333;
  height: 100vh;
  background-color: $color-bg-light;
  overflow-y: hidden;
  font-family: $font-family-main;
  font-size: $font-size-regular;
  margin: 0px;
  background-attachment: fixed;
}

li {
  list-style: none;
}

#Root {
  height: 100%;
  width: 100%;
}

#Root > div {
  height: 100%;
  width: 100%;
}

.Default-Cursor {
  cursor: default !important;
}

.Dialog-Label-Left {
  margin-right: 10px;
}

.Dialog-Label-Right {
  margin-left: 10px;
}

.Dialog-Label-Left:hover,
.Dialog-Label-Right:hover {
  cursor: default;
}


.MainScreen {
  width: 70%;
  height: 100%;
  transition: width 0.5s;
}

.MainScreen-Container {
  width: 100%;
  padding-bottom: 75px;
}

.MainScreen-ModalContent {
  border-radius: 0px;
}

.MainScreen > .MainScreen-Container {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 64px;
  bottom: 26px;
  overflow-y: auto;
  transition: width 0.5s;
}

.MainScreen .MainScreen-Expanded {
  width: 100%;
  transition: width 0.5s;
}

.MainScreen .MainScreen-Expanded > .MainScreen-Container {
  width: 100%;
  transition: width 0.5s;
}

.MainScreen-Header {
  position: fixed;
  top: 0px;
  z-index: 1;
  height: $height-mainscreen-header;
  width: 100%;
  background-color: $color-bg-dark;
}

.MainScreen-HeaderLogo {
  position: fixed;
  top: 0px;
  z-index: 1;
  height: $height-mainscreen-header;
  width: $width-mainscreen-logo;
  background-color: $color-highlight;
  background-image: url(assets/logo.png);
  background-repeat: no-repeat;
  background-position: 20px 2px;
  background-size: 170px;
}

.MainScreen-Footer {
  position: fixed;
  z-index: 1;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 20px;
  background-color: #4d4d4d;
  color: #fff;
  padding: 5px;
}

.MainScreen-Stats {
  position: absolute;
  right: 20px;
  top: 7px;
}

.MainScreen-Buttons {
  z-index: 1;
  position: absolute;
  right: 25px;
  top: 12px;
}

.MainScreen-IconButton:hover {
  opacity: 0.66;
}

.MainScreen-IconButton .Icon {
  display: inline-block;
  background-repeat:no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin: $padding-tiny;
}

.Hidden {
  display: none !important;
}

.Pointer-Cursor {
  cursor: pointer;
}

.Normal-Cursor {
  cursor: default !important;
}

.MainScreen-NotificationCenter {
  font-size: $font-size-small;
}

.Tooltip {
  display: inline-block;
}

.MainScreen-SetupWizard {
  width: 600px;
  height: 300px;
  overflow-y: scroll;

  .TermsOfService {
    span {
      margin-top: $padding-tiny;
      text-align: justify;
    }
  }

  .ForgotPasswordButton {
    button {
      margin-top: $padding-medium;
      margin-bottom: $padding-small;
    }
  }
}

.FeedbackWizard {
  display: block;

  .Label {
    font-weight: bold;
    font-size: $font-size-header;
  }

  .SubLabel {
    font-weight: bold;
    font-size: $font-size-small;
    margin-bottom: $padding-medium;
    margin-top: $padding-tiny;
  }

  .FeedbackTextArea {
    font-size: $font-size-header;
    width: 400px;
    height: 400px;
    max-width: 100%;
    max-height: 450px;
  }
}

.DaemonLog {
  ui-modal-wrapper {
    width: 600px !important;
    max-width: 600px !important;
    min-width: 600px !important;
  }
}

.MainScreen-DaemonLogDialog {
  width: 540px;
  height: 450px;

  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: scroll;

  table {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  tr {
    display: table-row;
    padding: $padding-tiny;
  }

  td {
    padding: $padding-small;
  }

  th {
    text-align: left;
    padding: $padding-small;
    margin-bottom: $padding-large;
  }

  th.LogLevel,
  .LogLevel {
    font-weight: bold;
    margin: $padding-small;
    width: 10%;
  }

  th.CreatedAt,
  .CreatedAt {
    margin: $padding-small;
    width: 26%;
  }

  th.Message,
  .Message {
    font-family: 'Courier New', Courier, monospace;
    margin: $padding-small;
    width: 64%;
    text-overflow: clip;
    max-width: 300px;
  }

  .LogItemDark {
    background-color: #eee;
  }

  .LogItemLight {
    background-color: $color-bg-light;
  }
}

.NewVaultWizard {
  ui-modal-wrapper {
    width: 500px;
  }
}
