@import "Common.scss";

.SettingsDialog {
  ui-modal-content {
    // min-width: 385px;
  }

  .InfoLabel {
    margin-bottom: $padding-small;
    font-weight: bold;
    font-size: $font-size-header;
  }

  .Button {
    margin-top: $padding-small;
    margin-bottom: $padding-small;
    margin-right: $padding-small;
  }

  .ChangePasswordForm {
    margin-top: $padding-small;
    margin-bottom: $padding-small;
    margin-right: $padding-small;
  }

  .InputLabel {
    font-weight: bold;
    margin-bottom: $padding-tiny;
  }

  .ChangePasswordForm {
    ui-input {
      margin-bottom: $padding-small;
    }

    .Buttons {
      display: block;
    }

    .ErrorMsg {
      margin-top: $padding-small;
      margin-bottom: $padding-small;
      margin-right: $padding-small;
      display: block;
      color: darkred;
    }
  }

  .Separator {
    margin-top: $padding-medium;
    margin-bottom: $padding-medium;
    color: black;
    border-style: dashed 20px;
  }
}
