.VaultCreationDialog-Content {
  width: 700px;
  height: 500px;
}

.VaultCreationDialog-FolderItem {
  position: relative;
}

.VaultCreationDialog-FolderChildItem-Hidden {
  display: none;
}

.VaultCreationDialog-Content ui-container {
  border: 1px solid #ddd;
  padding: 10px;
}


.VaultCreationDialog-FolderItem-Checkbox {
  display: inline-flex;
  padding-right: 10px;
}

.VaultCreationDialog-FolderChildItem .VaultCreationDialog-FolderItem {
  padding-top: 10px;
  padding-left: 45px;
}
