@import "Common.scss";

$margin-vault-list: 70px;
$margin-vault-card-horizontal: 30px;
$margin-vault-card-vertical: 35px;
$padding-vault-card: 22px;
$height-vault-card: 165px;
$width-vault-card: 270px;
$border-radius-vault-card: 5px;

@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.VaultList {
  margin-top: 50px;
  margin-bottom: 80px;
  margin-left: $margin-vault-list;
  margin-right: $margin-vault-list;

  .VaultStatus-Synced {
    background-size: 22px;
    margin-top: -3px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    float: left;
    background-image: url(assets/check_circle_24px.svg);
    background-position: 0px;
    padding-right: 8px;
  }

  .VaultStatus-Initializing {
    background-size: 22px;
    margin-left: -2px;
    margin-top: -5px;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    float: left;
    animation: rotating 2s linear infinite;
    animation-direction: reverse;
    background-image: url(assets/sync_white_24px.svg);
    background-position: 0px;
  }

  .VaultStatus-Syncing {
    background-size: 22px;
    margin-left: -2px;
    margin-top: -5px;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    float: left;
    animation: rotating 2s linear infinite;
    animation-direction: reverse;
    background-image: url(assets/update_vault.png);
    background-position: 0px;
  }

  .VaultStatus-Ready {
    background-size: 22px;
    margin-left: -2px;
    margin-top: -5px;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    float: left;
    background-image: url(assets/check_circle_24px.svg);
  }

  .Card {
    @include shadow;

    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: $border-radius-vault-card;
    height: $height-vault-card;
    width: $width-vault-card;
    overflow: hidden;
    margin-right: $margin-vault-card-horizontal;
    margin-top: $margin-vault-card-vertical;
    padding: $padding-vault-card;
    position: relative;
    transition: all 0.25s;
    background-color: $color-bg-extra-light;
  }

  .Card:hover {
    transition: all 0.25s;
  }

  .FlyingVaultSeparator {
    width: 50%;
    border-color: #efddda;
    border-width: thin;
    border-collapse: collapse;
    opacity: 0.66;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .FlyingVaultCard {
    border: 1px dashed #e6e6e6;
    transition: all 0.5s;
    background-color: #aaa;
  }

  .FlyingVaultCard:hover {
    background-color: #efddda;
  }

  .FlyingVaultCard canvas {
    opacity: 0.3;
  }

  .VaultCardSelected {
    display: inline-block;
    background-color: #efeeea;
  }

  .VaultCardSelected .VaultTitle {
  }

  .VaultCard {
    transition: all 0.25s;
  }

  .VaultCard:hover {
    background-color: #efeeea;
    transition: all 0.25s;
    color: #000;
  }

  .VaultCard .VaultTitle {
    color: #000;
  }

  .VaultListInfo {
    overflow: hidden;
    color: $color-text-dark;
  }

  .VaultListInfo .Title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: $padding-small;
    border-bottom: 1px solid $color-bg-dark;
    margin-right: $margin-vault-card-horizontal;
  }

  .VaultListInfo .Subtitle {
    // display: none;
    display: inline-block;
    margin-top: $padding-small;
    font-weight: bold;
    font-size: $font-size-header;
  }

  .UpdateFlyingVaultsButton {
    display: block;
    cursor: default;
    background-color: $color-highlight;
    color: black;
    padding: 5px;
    font-weight: 600;
    top: 0px;
  }

  .UpdateFlyingVaultsButton:hover {
    background-color: white;
    padding: 5px;
  }

  .VaultPlusIcon {
    height: 80px;
    width: 80px;
    background-image: url(assets/add_80px.svg);
    background-size: 80px 80px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    left: 80px;
    top: -65px;
    opacity: 0.5;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 165px;
  }

  .VaultPlusIcon:hover {
    background-image: url(assets/add_80px.svg);
    opacity: 1;
  }

  .VaultInfo {
    @include defaultCursor;
  }

  .VaultInfo hr {
    border-color: #d1c8c6;
    margin-top: 4px;
  }

  .VaultTitle {
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: $padding-small;
    border-bottom: 1px solid $color-bg-dark;
  }

  .Body {
    padding-top: 36px;
  }

  .Footer {
    background-color: $color-bg-dark;
    position: absolute;
    height: 36px;
    padding-left: $padding-medium;
    padding-right: $padding-medium;
    display: inline-flex;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .VaultId {
    display: none;
  }

  .VaultInfoItem {
    position: relative;
    color: $color-bg-extra-light;
    font-size: $font-size-small;
    @include defaultCursor;
  }

  .VaultUpdatedAt {
    font-color: $color-text-dark;
    font-size: $font-size-regular;
  }

  @mixin vault-info-item($icon, $bgSize, $bgYOffset, $paddingLeft) {
    background-image: $icon;
    background-repeat: no-repeat;
    background-size: $bgSize;
    background-position-y: $bgYOffset;
    white-space: nowrap;
    width: 60px;
    min-height: $bgSize;
    vertical-align: middle;
    margin-top: 8px;
    padding-top: 4px;
    padding-left: $paddingLeft;
  }

  .VaultUsers {
    @include vault-info-item(url(assets/people_24px.svg), 24px, -2px, 30px);
  }

  .VaultActivity {
    @include vault-info-item(url(assets/data_usage_24px.svg), 24px, -2px, 30px);
  }

  .VaultRevisions {
    @include vault-info-item(url(assets/folder_open_24px.svg), 24px, -2px, 30px);
    margin-left: 40px;
    width: 100%;
  }

  .VaultRemoveButton {
    display: none;
    background-image: url(assets/remove_vault.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    opacity: 0.44;
    position: absolute;
    top: 2px;
    right: 2px;
  }

  .VaultRemoveButton:hover {
    opacity: 1;
  }

  .VaultFolderButton {
    display: none;
    background-image: url(assets/folder_open_24px.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    opacity: 0.44;
    position: absolute;
    bottom: 10px;
    right: 4px;
  }

  .VaultFolderButton:hover {
    opacity: 1;
  }
}
