.VaultCreationDialog-Content {
  width: 700px;
  height: 500px;
  overflow-y: scroll;
  font-size: 17px;
}

.VaultCreationDialog-FolderItem {
  padding-top: 5px;
  position: relative;
}

.VaultCreationDialog-File {
  padding-top: 5px;
  position: relative;
}

.VaultCreationDialog-FolderItem-Hidden {
  display: none;
}

.VaultCreationDialog-Content ui-container {
  border: 1px solid #ddd;
  padding: 10px;
}

.VaultCreationDialog-FolderItem-Checkbox .Dialog-Label {
  display: inline-flex;
  /*height: 20px;
  width: 20px;*/
  padding-left: 10px;
}

.VaultCreationDialog-FolderItem-Checkbox ui-checkbox {
  width: 28px !important;
  height: 28px !important;
  display: inline-flex !important;
}
.VaultCreationDialog-FolderItem-Checkbox ui-checkbox svg {
  width: 14px !important;
  height: 14px !important;
}

.VaultCreationDialog-FolderItem-Nested {
  padding-left: 40px;
}
