.VaultDialog-Tab-Content {
  width: 700px;
  height: 500px;
  overflow-y: auto;
  font-size: 17px;
}

.VaultDialog-FolderItem {
  padding-top: 5px;
  position: relative;
}

.VaultDialog-File {
  padding-top: 5px;
  position: relative;
}

.VaultDialog-FolderItem-Hidden {
  display: none;
}

.VaultDialog-Tab-Content ui-container {
  border: 1px solid #ddd;
  padding: 10px;
}

.VaultDialog-FolderItem-Checkbox ui-checkbox {
  width: 28px !important;
  height: 28px !important;
  display: inline-flex !important;
}
.VaultDialog-FolderItem-Checkbox ui-checkbox svg {
  width: 14px !important;
  height: 14px !important;
}

.VaultDialog-FolderItem-Nested {
  padding-left: 40px;
}

.VaultDialog-Buttons {
  padding-top: 20px;
}

.VaultDialog-Button-Cancel {
  float: right;
  padding-bottom: 20px;
}

.VaultDialog-Button-Save {
  float: right;
  padding-bottom: 20px;
  padding-left: 10px;
}
