@import "Common.scss";

$margin-vault-list: 70px;
$margin-vault-card-horizontal: 30px;
$margin-vault-card-vertical: 35px;
$padding-vault-card: 22px;
$vault-card-height: 165px;
$vault-card-width: 270px;

@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.VaultList-VaultStatus-Synced {
  background-size: 22px;
  margin-top: -3px;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  float: left;
  background-image: url(assets/check_circle.png);
  background-position-y: -10px;
  padding-right: 8px;
}

.VaultList-VaultStatus-Initializing {
  background-size: 22px;
  margin-left: -2px;
  margin-top: -5px;
  margin-right: 5px;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  float: left;
  animation: rotating 2s linear infinite;
  animation-direction: reverse;
  background-image: url(assets/update_vault.png);
}

.VaultList-VaultStatus-Syncing {
  background-size: 22px;
  margin-left: -2px;
  margin-top: -5px;
  margin-right: 5px;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  float: left;
  animation: rotating 2s linear infinite;
  animation-direction: reverse;
  background-image: url(assets/update_vault.png);
}

.VaultList-VaultStatus-Initializing {
  background-size: 22px;
  margin-left: -2px;
  margin-top: -5px;
  margin-right: 5px;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  float: left;
  animation: rotating 2s linear infinite;
  animation-direction: reverse;
  background-image: url(assets/update_vault.png);
}

.VaultList-VaultStatus-Ready {
  background-size: 22px;
  margin-left: -2px;
  margin-top: -5px;
  margin-right: 5px;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  float: left;
  background-image: url(assets/check.png);
}

.VaultList-VaultList {
  margin-top: 50px;
  margin-bottom: 80px;
  margin-left: $margin-vault-list;
  margin-right: $margin-vault-list;
}

.VaultList-Card {
  @include shadow;

  display: inline-block;
  border: 1px solid #e6e6e6;
  height: $vault-card-height;
  width: $vault-card-width;
  overflow: hidden;
  margin-right: $margin-vault-card-horizontal;
  margin-top: $margin-vault-card-vertical;
  padding: $padding-vault-card;
  position: relative;
  transition: all 0.25s;
  background-color: $color-bg-extra-light;
}

.VaultList-Card:hover {
  transition: all 0.25s;
}

.VaultList-FlyingVaultSeparator {
  width: 50%;
  border-color: #efddda;
  border-width: thin;
  border-collapse: collapse;
  opacity: 0.66;
  margin-top: 50px;
  margin-bottom: 50px;
}

.VaultList-FlyingVaultCard {
  border: 1px dashed #e6e6e6;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
  transition: all 0.5s;
  background-color: #aaa;
}

.VaultList-FlyingVaultCard:hover {
  background-color: #efddda;
}

.VaultList-FlyingVaultCard canvas {
  opacity: 0.3;
}

.VaultList-VaultCardSelected {
  display: inline-block;
  background-color: #efeeea;
}

.VaultList-VaultCardSelected .VaultList-VaultTitle {
}

.VaultList-VaultCard {
  transition: all 0.25s;
}

.VaultList-VaultCard:hover {
  background-color: #efeeea;
  transition: all 0.25s;
  color: #000;
}

.VaultList-VaultCard .VaultList-VaultTitle {
  color: #000;
}

.VaultList-VaultListInfo {
  overflow: hidden;
  color: $color-text-dark;
}

.VaultList-VaultListInfo .VaultList-Title {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: $padding-small;
  border-bottom: 1px solid $color-bg-dark;
}

.VaultList-VaultListInfo .VaultList-Subtitle {
  display: none;
}

.VaultList-UpdateFlyingVaultsButton {
  cursor: default;
  background-color: #efddda;
  color: black;
  padding: 5px;
  font-weight: 600;
}

.VaultList-UpdateFlyingVaultsButton:hover {
  background-color: white;
  padding: 5px;
}

.VaultList-VaultPlus {
  display: inline-block;
  height: 130px;
  width: 250px;
  overflow: hidden;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
  position: relative;
  transition: all 0.25s;
}

.VaultList-VaultPlusIcon {
  height: 90px;
  width: 90px;
  background-image: url(assets/add_orange.png);
  background-size: 90px 90px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 80px;
  opacity: 0.5;
}

.VaultList-VaultPlusIcon:hover {
  background-image: url(assets/add.png);
  opacity: 1;
}

.VaultList-VaultInfo {
  // padding-left: 70px;
  // margin-right: 18px;
}

.VaultList-VaultInfo hr {
  border-color: #d1c8c6;
  margin-top: 4px;
}

.VaultList-VaultTitle {
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: $padding-small;
  border-bottom: 1px solid $color-bg-dark;
}

.VaultList-Body {
  padding-top: 36px;
}

.VaultList-Footer {
  background-color: $color-bg-dark;
  position: absolute;
  height: 36px;
  padding-top: $padding-small;
  padding-bottom: $padding-small;
  padding-left: $padding-medium;
  padding-right: $padding-medium;
  display: inline-flex;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.VaultList-VaultId {
  display: none;
}

.VaultList-VaultInfoItem {
  position: relative;
  color: $color-bg-extra-light;
  font-size: $font-size-small;
}

.VaultList-VaultUpdatedAt {
  font-color: $color-text-dark;
  font-size: $font-size-regular;
}

.VaultList-VaultUsers {
  background-image: url(assets/people.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-y: -18px;
  padding-left: 34px;
  padding-top: 4px;
  width: 60px;
  height: 25px;
  white-space: nowrap;
  vertical-align: middle;
  margin-top: 8px;
}

.VaultList-VaultActivity {
  background-image: url(assets/data_usage.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position-y: -13px;
  padding-left: 30px;
  padding-top: 4px;
  width: 60px;
  height: 25px;
  white-space: nowrap;
  vertical-align: middle;
  margin-top: 8px;
}

.VaultList-VaultRemoveButton {
  display: none;
  background-image: url(assets/remove_vault.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  opacity: 0.44;
  position: absolute;
  top: 2px;
  right: 2px;
}

.VaultList-VaultRemoveButton:hover {
  opacity: 1;
}

.VaultList-VaultFolderButton {
  display: none;
  background-image: url(assets/folder_open.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  opacity: 0.44;
  position: absolute;
  bottom: 10px;
  right: 4px;
}

.VaultList-VaultFolderButton:hover {
  opacity: 1;
}
