@import "Common.scss";

$width-files-tab-input: 250px;

.VaultDialog {
  ui-modal-wrapper {
    width: 550px !important;
    max-width: 550px !important;
    min-width: 550px !important;
  }

  ui-modal-header {
    box-sizing: border-box !important;
    height: 70px !important;
  }

  .Checkbox {
    .FileCheckbox {
      position: absolute;
      background-image: url(assets/check_circle_24px.svg);
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 0px 0px;
      width: 20px;
      height: 20px;
    }

    .FileCheckbox-Unchecked {
      position: absolute;
      background-image: url(assets/circle_24px.svg);
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 0px 0px;
      width: 20px;
      height: 20px;
    }

    .Dialog-Label-Right {
      margin-left: $padding-large;
    }
  }

  .TabInfo {
    margin: 1px;

    .InfoBoxButton {
      position: fixed;
      height: 24px;
      width: 24px;
      background-size: 24px;
      background-image: url(assets/info_24px.svg);
      background-repeat: no-repeat;
      background-position: 0px 0px;
      margin-bottom: $padding-medium;
    }

    .InfoBoxButton-Clicked,
    .InfoBoxButton:hover {
      background-color: $color-bg-dark;
      border-radius: 20px;
    }

    .InfoBox {
      box-sizing: border-box;
      width: 200px;
      max-width: 200px;
      padding: $padding-small-medium;
      margin: 15px;
      border: 2px solid $color-highlight;
      background-color: $color-bg-light;
      color: black;
      line-height: 14px;
      font-size: 13px;
      position: absolute;
      display: table-cell;
      z-index: 1;
      box-shadow: 2px black;
      top: -10px;
      left: 20px;
      visibility: visible;
    }

    .InfoBox-Hidden {
      visibility: hidden;
    }
  }

  .TabBody {
    min-height: 200px;
    // margin-top: $padding-medium;
    overflow-x: hidden;
  }

  .InputLabel {
    font-weight: bold;
  }

  .EventFilters {
    button {
      margin: $padding-small;
    }

    button:hover {
      background-color: $color-bg-dark !important;
      color: $color-highlight !important;
    }

    .Filter-Active {
      background-color: $color-bg-dark !important;
      color: $color-highlight !important;
    }

    .LogLevelMenuButton {
      margin-bottom: $padding-micro;
      display: inline-block;
    }

    .LogLevelButtons {
      position: fixed;
      display: inline-block;
      z-index: 5;
      min-width: 85px;
      margin-left: $padding-small;
      background-color: $color-bg-light;

      button {
        position: relative;
        display: block;
        margin-bottom: -10px;
        margin-left: auto;
        margin-right: auto;
        min-width: 90px;
      }
    }
  }

  .EventTable {
    th, td {
      text-align: left;
      font-size: $font-size-small;
      text-align: left;
      white-space: nowrap;
      display: inline-block;
    }
    th:nth-child(1), td:nth-child(1) {
      width: 120px;
    }
    th:nth-child(2), td:nth-child(2) {
      width: 60px;
    }
    th:nth-child(3), td:nth-child(3) {
      width: auto;
    }
    tr {
      white-space: nowrap;
    }
    width: 100%;
  }

  .EventTableContent {
    position: absolute;
    background-color: white;
    overflow-x: auto;
    overflow-y: auto;
    top: 70px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }

  .Admin-Buttons {
    button {
      display: block;
    }

    .InfoText {
      text-align: justify;
    }
  }

  .Dialog-Label-Left,
  .Dialog-Label-Right,
  .Dialog-Label-Top,
  .Dialog-Label-Bottom {
    display: inline-block;
  }


  .Dialog-Label-Left.InputLabel,
  .Dialog-Label-Right.InputLabel {
    min-width: 110px;
    margin-right: 10px;
  }

  .Input {
    margin-top: 10px;
    margin-bottom: 10px;

    .Dialog-Label-Top.InputLabel {
      margin-bottom: 10px;
    }
  }

  .Input-Name {
  }

  .Input-Folder {
  }

  .Input-FileSelection {
  }

  .Input-Icon img {
    cursor: default;
  }

  ui-input {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .Input ui-input {
    width: $width-files-tab-input;
    padding: 0px;
  }

  .Input ui-input {
    input {
      font-size: $font-size-regular;
      height: 28px;
      padding-left: 20px  !important;
      // padding-right: 20px !important;
    }

    svg {
      top: 8px;
    }
  }

  .File,
  .FolderItem,
  .FolderItem-Collapsed {
    .Folder {
      background-size: 22px;
      margin-top: -3px;
      width: 22px;
      height: 22px;
      background-repeat: no-repeat;
      float: left;
      background-image: url(assets/folder_open_24px.svg);
      background-position: 0px;
      padding-right: 8px;
    }
    padding-top: 5px;
    position: relative;
  }

  // .FolderItem-Hidden {
  //   display: none;
  // }

  .Tab-Content ui-container {
    border: 1px solid #ddd;
    padding: 10px;
  }

  .FolderCollapseToggle {
    margin-left: $padding-tiny;
    .MaterialIcons:hover {
      background-color: $color-highlight;
    }
  }

  .FileSelection ui-container {
    margin-top: 10px;
  }

  .FolderItem-Nested {
    padding-left: $padding-large;
  }

  .FolderItem-Collapsed .FolderItem-Nested {
    /*display: none;*/
  }

  .FolderItem-Collapse-Toggle {
    font-size: $font-size-small;
    font-weight: bold;
    margin-left: $padding-small / 2;
    background-color: $color-bg-light;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: 16px;
  }

  .FolderItem-Collapse-Toggle:hover {
    background-color: $color-highlight;
  }

  .Buttons {
    float: right;
  }

  .Buttons button {
    margin-left: $padding-large;
  }

  .Button-Export button {
    margin-bottom: 10px;
  }

  .Button-Folder button {
    width: $width-files-tab-input;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px  !important;
    padding-right: 20px !important;
  }

  .User {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: default;
  }

  .UserList {
    margin-bottom: 20px;
  }

  .User:hover {
    background-color: #eee;
    color: #000;
  }

  .UserName {
    font-size: 15px;
  }

  .UserEmail {
    font-weight: bold;
    font-size: 13px;
  }

  .UserAddedTime {
    position: relative;
    float: right;
    font-weight: normal;
  }

  .UserKeys {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.5s;
  }

  .UserKeys-Hidden {
    left: -150px;
    position: absolute;
    transition: all 0.5s;
  }

  .SelectKey {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .SelectKey:hover {
    background-color: #eee;
    color: #000;
  }

  .UserKeyFingerprints {
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;

    position: relative;
    margin-top: 7px;
    font-size: $font-size-regular;
  }

  .UserKeyDescription {
    font-size: $font-size-small;
    margin-top: 2px;
  }

  .UserKeyCreatedTime {
    position: relative;
    float: right;
    margin-top: 2px;
  }

  .Icon-Label {
    width: 100%;
  }

  .Icon {
    margin-top: 5px;
    width: 75px;
    height: 75px;
    padding: 2px;
    border: 1px solid black;
  }

  .TabInfoText {
    text-align: center;
    margin: 0.5em;
    width: 475px;
    margin-left: auto;
    margin-right: auto;
  }

  .InfoText {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
  }


  .VaultMetadata {
    margin-top: 20px;

    .CryptoInfoItem {
      cursor: default;
    }

    .CryptoInfoItem-Label {
      min-width: 170px !important;
    }

    .Separator {
      width: 375px;
      margin: 1.5em;
      margin-left: auto;
      margin-right: auto;
      height: 1px;
      border: 0px;
      background-color: #c17d6f;
    }
  }
}
