@import "Common.scss";

.VaultDialog {
  ui-modal-header,
  ui-modal-footer {
    background-color: $color-bg-dark;
    color: $color-highlight;
    font-family: $font-family-main;
  }

  ui-modal-header {
    height: 30px;
    padding-left: $padding-large !important;
  }

  ui-modal-footer {
    padding: 10px;
    height: 20px;
    padding-left:  $padding-large !important;
    padding-right: $padding-large !important;
  }

  ui-modal-title {
    font-size: $font-size-header;
  }

  ui-modal-content {
    background-color: $color-bg-light !important;
    padding: $padding-extra-large $padding-large $padding-large $padding-large !important;
  }

  ui-tabs-content {
    min-width: 600px;
    max-width: 600px;
    height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 15px;
    background-color: $color-bg-light !important;
    border: 0px !important;
    padding: 0px 0px !important;
  }

  ui-tabs-handle[selected] {
    background-color: $color-bg-light;
    border-bottom: 3px solid $color-highlight !important;
    font-size: $font-size-header;
  }

  ui-tabs-handle {
    border: 0px !important;
    border-bottom: 1px solid $color-bg-dark !important;
    background-color: $color-bg-light !important;
    padding: 0px 10px 5px 10px !important;
    margin: 0px auto 0px 0px;

    span {
      font-size: $font-size-header !important;
      font-weight: bold;
      color: black;
    }
  }

  ui-tabs-handles {
    border-bottom: 1px solid $color-bg-dark !important;
    background-color: $color-bg-light !important;
    margin-bottom: 5px !important
  }

  .Dialog-Label-Left.InputLabel,
  .Dialog-Label-Right.InputLabel {
    font-weight: bold;
    min-width: 60px;
    display: inline-block;
    margin-right: 10px;
  }

  .Input {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Input-Name {
  }

  .Input-Folder {
  }

  .Input-FileSelection {
    width: 585px;
  }

  .Input-Icon img {
    cursor: default;
  }

  ui-input {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .Input ui-input {
    width: 415px;
  }


  .Input-User ui-input {
    width: 495px
  }


  .Input ui-input input {
    font-size: 15px;
  }

  .FolderItem {
    padding-top: 5px;
    position: relative;
  }

  .FolderItem-Collapsed {
    padding-top: 5px;
    position: relative;
  }

  .File {
    padding-top: 5px;
    position: relative;
  }

  .FolderItem-Hidden {
    display: none;
  }

  .Tab-Content ui-container {
    border: 1px solid #ddd;
    padding: 10px;
  }

  .FileSelection ui-container {
    margin-top: 10px;
  }

  .Checkbox ui-checkbox {
    width:  20px !important;
    height: 20px !important;
    display: inline-flex !important;
  }

  .Checkbox ui-checkbox svg {
    width:  10px !important;
    height: 10px !important;
  }

  .FolderItem-Nested {
    padding-left: $padding-large;
  }

  .FolderItem-Collapsed .FolderItem-Nested {
    /*display: none;*/
  }

  .File span .FolderItem-Collapse-Toggle {
    display: none;
  }

  .FolderItem-Collapse-Toggle {
    font-size: $font-size-regular;
    font-weight: bold;
    margin-left: 10px;
  }

  .Buttons {
    float: right;
  }

  .Buttons ui-button {
    margin-left: $padding-large;
  }

  .Button-Export ui-button {
    margin-bottom: 10px;
  }

  .Button-Folder ui-button {
    width: 415px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .User {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: default;
  }

  .UserList {
    margin-bot: 20px;
  }

  .User:hover {
    background-color: #eee;
    color: #000;
  }

  .UserName {
    font-size: 15px;
  }

  .UserEmail {
    font-weight: bold;
    font-size: 13px;
  }

  .UserAddedTime {
    right: 35px;
    position: absolute;
    font-weight: normal;
  }

  .UserKeys {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.5s;
  }

  .UserKeys-Hidden {
    left: -150px;
    position: absolute;
    transition: all 0.5s;
  }

  .SelectKey {
    padding: 5px;
  }

  .SelectKey:hover {
    background-color: #eee;
    color: #000;
  }

  .UserKeyFingerprints {
    right: 35px;
    position: absolute;
    font-family: monospace;
    text-transform: uppercase;
    margin-top: 7px;
    font-size: 12px;
    font-weight: bold;
  }

  .UserKeys .Checkbox {
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
  }

  .UserKeyCreatedTime {
    right: 35px;
    position: absolute;
  }

  .Icon-Label {
    width: 100%;
  }

  .Icon {
    margin-top: 5px;
    width: 75px;
    height: 75px;
    padding: 2px;
    border: 1px solid black;
  }

  .TabInfoText {
    text-align: center;
    margin: 0.5em;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  .InfoText {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
  }

  .Separator {
    width: 375px;
    margin: 1.5em;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    border: 0px;
    background-color: #c17d6f;
  }

  .CryptoInfoItem {
    cursor: default;
  }

  .CryptoInfoItem-Label {
    min-width: 170px !important;
  }
}
