.VaultCreationDialog-Content {
  width: 700px;
  height: 500px;
}

.VaultCreationDialog-FolderContent {
  position: relative;
}

.VaultCreationDialog-FolderChildContent-Hidden {
  display: none;
}

.VaultCreationDialog-Content ui-container {
  border: 1px solid #ddd;
  padding: 10px;
}


.VaultCreationDialog-FolderContent-Checkbox {
  display: inline-flex;
  padding-right: 10px;
}

.VaultCreationDialog-FolderChildContent .VaultCreationDialog-FolderContent {
  padding-top: 10px;
  padding-left: 45px;
}
