@import "Common.scss";

.VaultDialog {
  .EventFilters {
    .Dialog-Label-Left {
      font-weight: bold;
    }

    ui-button {
      margin: $padding-small;
    }

    ui-button:hover {
      background-color: $color-bg-dark !important;
      color: $color-highlight !important;
    }

    .Filter-Active {
      ui-button {
        background-color: $color-bg-dark !important;
        color: $color-highlight !important;
      }
    }

    .LogLevelButtons {
      position: absolute;
      display: inline-block;
      z-index: 5;
      width: 85px;
      left: 0px;
      top: 0px;

      ui-button {
        position: relative;
        display: block;
        margin-bottom: -10px;
        margin-left: auto;
        margin-right: auto;
        width: 85px;
        left: 244px;
        top: 30px;
      }
    }
  }

  .EventTable {
    th, td {
      text-align: left;
      font-size: $font-size-small;
      text-align: left;
      white-space: nowrap;
      display: inline-block;
    }
    th:nth-child(1), td:nth-child(1) {
      width: 120px;
    }
    th:nth-child(2), td:nth-child(2) {
      width: 60px;
    }
    th:nth-child(3), td:nth-child(3) {
      width: auto;
    }
    tr {
      white-space: nowrap;
    }
    width: 100%;
  }

  .EventTableContent {
    position: absolute;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    top: 70px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }

  .Admin-Buttons {
    ui-button {
      display: block;
    }

    .InfoText {
      text-align: justify;
    }
  }

  .Dialog-Label-Left.InputLabel,
  .Dialog-Label-Right.InputLabel {
    font-weight: bold;
    min-width: 60px;
    display: inline-block;
    margin-right: 10px;
  }

  .Input {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Input-Name {
  }

  .Input-Folder {
  }

  .Input-FileSelection {
    width: 585px;
  }

  .Input-Icon img {
    cursor: default;
  }

  ui-input {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .Input ui-input {
    width: 415px;
  }


  .Input-User ui-input {
    width: 495px
  }


  .Input ui-input input {
    font-size: 15px;
  }

  .FolderItem {
    padding-top: 5px;
    position: relative;
  }

  .FolderItem-Collapsed {
    padding-top: 5px;
    position: relative;
  }

  .File {
    padding-top: 5px;
    position: relative;
  }

  .FolderItem-Hidden {
    display: none;
  }

  .Tab-Content ui-container {
    border: 1px solid #ddd;
    padding: 10px;
  }

  .FileSelection ui-container {
    margin-top: 10px;
  }

  .Checkbox ui-checkbox {
    width:  20px !important;
    height: 20px !important;
    display: inline-flex !important;
  }

  .Checkbox ui-checkbox svg {
    width:  10px !important;
    height: 10px !important;
  }

  .FolderItem-Nested {
    padding-left: $padding-large;
  }

  .FolderItem-Collapsed .FolderItem-Nested {
    /*display: none;*/
  }

  .File span .FolderItem-Collapse-Toggle {
    display: none;
  }

  .FolderItem-Collapse-Toggle {
    font-size: $font-size-regular;
    font-weight: bold;
    margin-left: 10px;
  }

  .Buttons {
    float: right;
  }

  .Buttons ui-button {
    margin-left: $padding-large;
  }

  .Button-Export ui-button {
    margin-bottom: 10px;
  }

  .Button-Folder ui-button {
    width: 415px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .User {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: default;
  }

  .UserList {
    margin-bot: 20px;
  }

  .User:hover {
    background-color: #eee;
    color: #000;
  }

  .UserName {
    font-size: 15px;
  }

  .UserEmail {
    font-weight: bold;
    font-size: 13px;
  }

  .UserAddedTime {
    right: 35px;
    position: absolute;
    font-weight: normal;
  }

  .UserKeys {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.5s;
  }

  .UserKeys-Hidden {
    left: -150px;
    position: absolute;
    transition: all 0.5s;
  }

  .SelectKey {
    padding: 5px;
  }

  .SelectKey:hover {
    background-color: #eee;
    color: #000;
  }

  .UserKeyFingerprints {
    right: 35px;
    position: absolute;
    font-family: monospace;
    text-transform: uppercase;
    margin-top: 7px;
    font-size: 12px;
    font-weight: bold;
  }

  .UserKeys .Checkbox {
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
  }

  .UserKeyCreatedTime {
    right: 35px;
    position: absolute;
  }

  .Icon-Label {
    width: 100%;
  }

  .Icon {
    margin-top: 5px;
    width: 75px;
    height: 75px;
    padding: 2px;
    border: 1px solid black;
  }

  .TabInfoText {
    text-align: center;
    margin: 0.5em;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  .InfoText {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
  }

  .Separator {
    width: 375px;
    margin: 1.5em;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    border: 0px;
    background-color: #c17d6f;
  }

  .CryptoInfoItem {
    cursor: default;
  }

  .CryptoInfoItem-Label {
    min-width: 170px !important;
  }
}
