.VaultDialog ui-tabs-content {
  min-width: 600px;
  max-width: 600px;
  height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 15px;
}

.Dialog-Label-Left.VaultDialog-InputLabel,
.Dialog-Label-Right.VaultDialog-InputLabel {
  font-weight: bold;
  min-width: 60px;
  display: inline-block;
  margin-right: 10px;
}

.VaultDialog-Input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.VaultDialog-Input-Name {
  position: relative;
  top: -100px;
  margin-left: 100px;
}

.VaultDialog-Input-Folder {
  position: relative;
  top: -110px;
  margin-left: 100px;
}

.VaultDialog-Input-FileSelection {
  position: relative;
  top: -110px;
  width: 585px;
}

.VaultDialog-Input-Icon img {
  cursor: default;
}

ui-input {
  margin-top: 5px;
  margin-bottom: 5px;
}


.VaultDialog-Input ui-input {
  width: 415px;
}


.VaultDialog-Input-User ui-input {
  width: 495px
}


.VaultDialog-Input ui-input input {
  font-size: 15px;
}

.VaultDialog-FolderItem {
  padding-top: 5px;
  position: relative;
}

.VaultDialog-FolderItem-Collapsed {
  padding-top: 5px;
  position: relative;
}


.VaultDialog-File {
  padding-top: 5px;
  position: relative;
}

.VaultDialog-FolderItem-Hidden {
  display: none;
}

.VaultDialog-Tab-Content {
  height: 90%;
}

.VaultDialog-Tab-Content ui-container {
  border: 1px solid #ddd;
  padding: 10px;
}

.VaultDialog-FileSelection ui-container {
  margin-top: 5px;
}

.VaultDialog-Checkbox ui-checkbox {
  width:  20px !important;
  height: 20px !important;
  display: inline-flex !important;
}
.VaultDialog-Checkbox ui-checkbox svg {
  width:  10px !important;
  height: 10px !important;
}

.VaultDialog-FolderItem-Nested {
  padding-left: 30px;
}

.VaultDialog-FolderItem-Collapsed .VaultDialog-FolderItem-Nested {
  /*display: none;*/
}

.VaultDialog-File span .VaultDialog-FolderItem-Collapse-Toggle {
  display: none;
}

.VaultDialog-FolderItem-Collapse-Toggle {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.VaultDialog-Buttons {
  padding-top: 20px;
}

.VaultDialog-Button-Cancel {
  float: right;
  padding-bottom: 20px;
}

.VaultDialog-Button-Save {
  float: right;
  padding-bottom: 20px;
  padding-left: 10px;
}

.VaultDialog-Button-Delete {
  padding-left: 10px;
}

.VaultDialog-Button-Folder ui-button {
  width: 415px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.VaultDialog-User {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  cursor: default;
}

.VaultDialog-UserList {
  margin-bot: 20px;
}

.VaultDialog-User:hover {
  background-color: #eee;
  color: #000;
}

.VaultDialog-User-Name {
  font-size: 15px;
}

.VaultDialog-User-Email {
  font-weight: bold;
  font-size: 13px;
}

.VaultDialog-UserAddedTime {
  right: 35px;
  position: absolute;
  font-weight: normal;
}

.VaultDialog-UserKeys {
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.5s;
}

.VaultDialog-UserKeys-Hidden {
  left: -150px;
  position: absolute;
  transition: all 0.5s;
}

.VaultDialog-SelectKey {
  padding: 5px;
}

.VaultDialog-SelectKey:hover {
  background-color: #eee;
  color: #000;
}

.VaultDialog-UserKeyFingerprints {
  right: 35px;
  position: absolute;
  font-family: monospace;
  text-transform: uppercase;
  margin-top: 7px;
  font-size: 12px;
  font-weight: bold;
}

.VaultDialog h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.VaultDialog-UserKeys .VaultDialog-Checkbox {
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
}

.VaultDialog-UserKeyCreatedTime {
  right: 35px;
  position: absolute;
}

.VaultDialog-Icon-Label {
  width: 100%;
}

.VaultDialog-Icon {
  margin-top: 5px;
  width: 75px;
  height: 75px;
  padding: 2px;
  border: 1px solid black;
}

ui-button,
ui-tabs-handle {
  cursor: default !important;
}

.VaultDialog-InfoText {
  text-align: center;
  margin: 0.5em;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.VaultDialog-Tab-Content-Separator {
  margin: 1.5em;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  border: 0px;
  background-color: #c17d6f;
}

.VaultDialog-CryptoInfoItem {
  cursor: default;
}
.VaultDialog-CryptoInfoItem-Label {
  min-width: 170px !important;
}
