@import "Common.scss";

.WizardDialog {
  ui-modal-footer {
    height: 25px;
  }

  ui-modal-title {
    font-size: $font-size-header;
  }

  ui-modal-content {
    background-color: $color-bg-light !important;
  }

  .Buttons button {
    min-width: 120px;
  }

  .NavigationButtons {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -25px;
  }

  .NoCancel {
    .NavigationButtons {
      top: 0px;
    }
  }

  .Button-Previous,
  .Button-Next {
    padding-left:  10px;
    padding-right: 10px;
  }

  .Button-Cancel {
  }

  .Button-Finish {
    position: relative;
    float: right;
    margin-bottom: -33px;
  }

  .Button-Close {
    float: right;
  }
}
