@import "Common.scss";

.WizardDialog {
  ui-modal-footer {
    height: 25px;
  }

  ui-modal-title {
    font-size: $font-size-header;
  }

  ui-modal-content {
    background-color: $color-bg-light !important;
  }

  .Buttons button {
    min-width: 120px;
  }

  .NavigationButtons {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -25px;
  }

  .NoCancel {
    .NavigationButtons {
      top: 0px;
    }
  }

  .Button-Previous,
  .Button-Next {
    padding-left:  10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 80px;
  }

  .Button-Cancel {
  }

  .Button-Finish {
    position: relative;
    float: right;
    margin-bottom: -33px;
  }

  .Button-Close {
    float: right;
  }

  .InfoText {
    line-height: ($font-size-regular + $padding-tiny);

    span {
      line-height: ($font-size-regular + $padding-tiny);
      display: block;
    }

    .Header {
      font-weight: bold;
      font-size: $font-size-header;
      margin-bottom: $padding-tiny;
    }

    .SubHeader {
      font-weight: bold;
      margin-bottom: $padding-tiny;
    }
  }

  .Options {
    display: block;
    max-width: 50%;
    margin-top: $padding-medium;

    button {
      margin-top: $padding-small;
      margin-right: $padding-small;
    }

    .InputLabel {
      margin-top: $padding-small;
      font-weight: bold;
    }

    input {
      margin-top: $padding-tiny;
      font-size: $font-size-regular;
      height: $font-size-small;
      width: 200px;
      padding-top: $padding-tiny;
      padding-bottom: $padding-tiny;
      padding-left: $padding-small;
      padding-right: $padding-small;
      border: $border-radius-input solid #3AE2E2 !important;
    }
  }
}
